
bin/Debug/Turismo 2022.pdb
Form1.resx
Form1.Designer.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/Turismo_2022.Properties.Resources.resources
obj/Debug/Turismo_2022.Form_1.resources
Properties/Settings.settings
Properties/Resources.resx
obj/Debug/Turismo 2022.pdb
obj/Debug/Turismo 2022.csproj.SuggestedBindingRedirects.cache
obj/Debug/Turismo 2022.csproj.GenerateResource.cache
obj/Debug/Turismo 2022.csproj.FileListAbsolute.txt
obj/Debug/Turismo 2022.csproj.CoreCompileInputs.cache
obj/Debug/Turismo 2022.csproj.AssemblyReference.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Turismo 2022.exe
bin/Debug/Turismo 2022.exe.config
bin/Debug/Turismo 2022.exe
Turismo 2022.sln
Turismo 2022.csproj
